
   


    <div class="ARTISTAS">
    <!--Section: Content-->
    <section class="text-center white-text">
      
      <!-- Section heading -->
      <h2 class="font-weight-bold text-center white-text pb-2">Artistas Mas Vendidos</h2>
      <hr class="w-header my-4">  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-4">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Alicia Deyns</h6>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
           
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-4">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Tommy Brian</h6>
          
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            
          </ul>
  
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-3 mb-4">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Kate Witson</h6>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            
          </ul>
  
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-3 mb-4">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Barbara Lenny</h6>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
          
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
      
    </section>
    <!--Section: Content-->
  
  


  </div>      

  <div class="PISTAS">
    <!--Section: Content-->
    <section class="text-center white-text">
      
      <!-- Section heading -->
      <h2 class="font-weight-bold text-center white-text pb-2">Pistas Mas Vendidas</h2>
      <hr class="w-header my-4">  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-4">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Alicia Deyns</h6>
          <small class="text-muted white-text">Artista</small>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
           
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-4">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Tommy Brian</h6>
          <small class="text-muted white-text">Artista</small>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            
          </ul>
  
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-3 mb-4">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Kate Witson</h6>
          <small class="text-muted white-text">Artista</small>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            
          </ul>
  
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-3 mb-4">
  
          <div class="view z-depth-1 mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Barbara Lenny</h6>
          <small class="text-muted white-text">Artista</small>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
          
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
      
    </section>
    <!--Section: Content-->
  
  
  </div>       