div.ARTISTAS{
    background-color: rgb(0, 0, 0);    
    border-bottom: solid;
    border-top: solid; 
    border-color: white;
}

div.PISTAS {
    background-color: rgb(0, 0, 0); 
    border-bottom: solid; 
    border-color: white;    
}

img.imagen {
    border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

footer{
    color: white;
    background-color: black;
    border-bottom: solid; 
    border-color: white;
}