<section>

<article>
<!-- Default form login -->
<form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="text-center border border-light p-5" action="#">

    <p class="h4 mb-4">Inicio de sesión</p>

    <!-- Email -->
    <input type="email" id="login" class="form-control mb-4" placeholder="Email" formControlName="correo">

    <!-- Password -->
    <input type="password" id="password" class="form-control mb-4" placeholder="Contraseña" formControlName="PassArt">

    <div class="d-flex justify-content-around">
        
        <div>
            <!-- Forgot password -->
            <a href="#recuperar">¿Olvidaste tu contraseña?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <input class="btn btn-info btn-block my-3" style="background-color:#e4c239; border-color: #e4c239" type="submit" value="Log In" direct="#!">

    <!-- Register -->
    <p>¿No eres miembro?
           <a href="#registro">Registrate</a>
    </p>

    <!-- Remind Password -->
<div class="alert alert-danger" *ngIf="errorStatus">
    <p>{{errorMsj}}</p>
</div>

</form>


</article>
<nav>

</nav>
</section>


<!-- SECCION DE AYUDA -->

<footer>
  <section>
      <article  class="footer-t">
            <p>
                Footer 1
            </p>
      </article>


      <article class="footer-t">
        <p>
            Footer 2
        </p>
      </article>


      <article class="footer-t">
        <p>
            Footer 3
        </p>
      </article>
  </section>
</footer>
