<section>

<article>
<!-- Default form login -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Inicio de sesión</p>

    <!-- Email -->
    <input type="email" id="email" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="pass" class="form-control mb-4" placeholder="Contraseña">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Recuérdame</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="/src/app/recuperacion/recuperacion.component.html">¿Olvidaste tu contraseña?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-3" style="background-color:#e4c239; border-color: #e4c239" type="submit">Iniciar sesión</button>

    <!-- Register -->
    <p>¿No eres miembro?
           <a href="/src/app/registro/registro.component.html">Registrate</a>
    </p>

</form>
<!-- Default form login -->
</article>
<nav>

</nav>
</section>


<!-- SECCION DE AYUDA -->

<footer>
  <section>
      <article  class="footer-t">
            <p>
                Footer 1
            </p>
      </article>


      <article class="footer-t">
        <p>
            Footer 2
        </p>
      </article>


      <article class="footer-t">
        <p>
            Footer 3
        </p>
      </article>
  </section>
</footer>