* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background: rgb(0, 0, 0);
  padding: 120px;
  background-image: url('/assets/imgLog/logoBuyBeats.png');
  background-repeat: no-repeat;  
  background-size: 100% 100%;

}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 50px;
}

footer {
  background-color: #242424 ;
  padding: 50px;
  text-align: center;
  color: #242424 ;
}

.footer-t {
  background-color: #242424 ;
  text-align: left;
  color: #f1f1f1;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 500px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

}
